* {
    box-sizing: border-box;
    margin: auto;
}
body {
    background-color: lightgray;
    
}
#intestazione {
    font-size: 50px;
    background-color: white;
}
#contenitore {
    background-color: white;
    width: 80%;
    margin-top: 30px;
    font-size: 100%;
    border-radius: 2px;
    padding-bottom: 50px;
}
#tasto1 {
    background-color: rgb(176, 176, 241);
    color: white;
    padding: 5px;
    border-radius: 3px;
    margin-right: 10px;
}
#tasto2 {
    padding: 3px;
    color: lightgray;
    border: lightgray;
    border-radius: 3px;
    border: solid;
    border-color: lightgray;
}
#contenitore-tasti {
    margin-bottom: 10px;
    border-bottom: 1px solid lightgray;
    padding: 10px;
}

ul{
    padding-left: 0;
    margin-left: 0;
    list-style: none;
}
  li {
      margin: 13px;
  }
span {
    border-radius: 50%;
    border: 1px solid green;
    color: green;
}

.editorial {
      background-color: lightblue;
      border-radius: 5px;
      padding: 5px;
      color: white;
      border: lightblue;
  }

  .x{
    border-radius: 50%;
    border: 1px solid rgb(255, 0, 0);
    color: rgb(255, 0, 0); 
  }

  .q1-goals {
    background-color: rgb(252, 92, 204);
      border-radius: 5px;
      padding: 5px;
      color: white;
      border: rgb(252, 92, 204);
  }

